body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F3F2EE;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    height: 43vh; 
    padding: 20px;
    box-sizing: border-box;
}
h1 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 0; 
    background-color: #D0CFCF;
    border-radius: 10px;
    padding: 15px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    grid-column: 1 / span 2;
    position: relative; 
    top: 0; 
}
.box {
    background-color: #B3AEAE;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.dark-box {
    background-color: #8A8A8A;
    color: white;
    height: 95%;
}
.arrow {
    float: right;
    font-size: 30px;
}
.sub-section {
    margin-top: 10px;
}

.right-column {
    display: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 830px;
}
.left-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}
.split-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.split-box .box {
    margin: 0;
}

.infos{
    display: flex;
    flex-direction: column;
}