<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONNECT FARM</title>
    <link href="https://fonts.googleapis.com/css2?family=KoHo&family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="container">
        <img src="../static/img/Logo.png" alt="CONNECT FARM Logo" class="logo">
        <h1>CONNECT FARM</h1>
        <p>Nunca foi tão fácil gerenciar sua fazenda!</p>
        <a href="/login" class="button">Entre aqui</a>
    </div>
</body>
</html>
