<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Management Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/userpage.css">
</head>
<body>
    <h1 style="font-size: 26px; text-align: center;">O que gostaria de gerenciar hoje?</h1>
    <div class="container">
        <a href="/abelhas" class="card">
            <div class="card-title">Abelhas</div>
            <div class="card-subtitle">Irrigação e<br>Abastecimento</div>
            <img src="../static/img/bee.png" alt="Abelhas">
            <hr>
        </a>
        <a href="/vacas" class="card">
            <div class="card-title">Vacas</div>
            <div class="card-subtitle">Monitoramento de<br>Saúde e Atividade</div>
            <img src="../static/img/cow.png" alt="Vacas">
            <hr>
        </a>
        <a href="/peixes" class="card card-dark">
            <div class="card-title">Peixes</div>
            <div class="card-subtitle">Monitoramento da<br>qualidade de vida</div>
            <img src="../static/img/fish.png" alt="Peixes">
            <hr>
        </a>
        <a href="/pancs" class="card card-dark" style="background-color: #737870;">
            <div class="card-title">PANCS</div>
            <div class="card-subtitle">Monitoramento e<br>Ajuste de Condição</div>
            <img src="../static/img/pancs.png" alt="PANCS">
            <hr>
        </a>
    </div>
</body>
</html>